NEXT_PUBLIC_FIREBASE_API_KEY=fire_key
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=domain
NEXT_PUBLIC_FIREBASE_PROJECT_ID=id
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=storage
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=Message_ID
NEXT_PUBLIC_FIREBASE_APP_ID=app_id
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID=G-Message_ID