NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyCAF_u3fsGHgflZK0FYcdOFJf5mG7VeckE
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=suntel-cambodia.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=suntel-cambodia
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=suntel-cambodia.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=1076053025442
NEXT_PUBLIC_FIREBASE_APP_ID=1:1076053025442:web:05141aad0d06bc746cadfb
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID=G-3RPD94YQCK